/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

nav {
    position: sticky;
    /* position: -webkit-sticky; */
    
  } 
 

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    color:white
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

/* li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
} */


/* a.active:hover{
    background-color:whitesmoke
} */

/* Change the link color to #111 (black) on hover */
/* li a:hover {
    background-color: rgb(218, 217, 228);
} */



.active li a:hover {
    color: whitesmoke;

}


.active {
    /* color: #111; */
    color: rgb(28, 18, 128);
    
    /* this can color the 'home to green'
    background-color: #4CAF50;
     */
}


div.gallery {

    background: linear-gradient(to bottom, rgb(4, 3, 70), rgb(20, 17, 155));
    /* background-color: rgb(38, 36, 150); */
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
}



div.gallery:hover {
    border: 1px solid #777;
}

/* div.gallery img {
    /* width: 100%; */
    /* position: relative; */
    /* width: 100%;
    height: auto; */
/* } */ 

.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    border: black;
    font-size: 7vw;
    text-shadow: white;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: cambria;
    /* font-style: italic; */
    font-style: oblique;
    
}



/* game.html */


h1{
    
    margin: auto;
    justify-content: center;

}


canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    /* margin: 25px 50px 75px 100px; */
}


.main-header{
    position:fixed;
    width:100%;
    top: 0;


}

/* ---- Layout Containers ---- */

.main-footer {
    text-align: center;
    background: #d9e4ea;
	padding: 1em 0;
    margin-top: 15px;
    /* margin: 0; */
}

/* .container {
    width: 100%;
    margin: auto;
} */

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.videoheader{
    border-width: 1em;
    border: solid black;
    font-size: 115px;
    font-family: Georgia, Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
    font-weight: 500;
    /* background-color: rgb(200, 200, 206); */
    background: radial-gradient(rgb(221, 221, 221),rgb(192, 192, 192), rgb(153, 153, 153));
	/* background:  */

}

.underConstruction{

    border-width: 1em;
    border: solid black;
    font-size: 115px;
    font-family: Georgia, Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
    font-weight: 500;
    background-color: rgb(250, 242, 0);


}

.navbar-silver{
    
    background: linear-gradient(to bottom, rgb(218, 217, 228), rgb(178, 178, 194));
    /* background: linear-gradient(to bottom, rgb(4, 3, 70), rgb(20, 17, 155)); */
    
    border-style: solid;
    border-width: 1px;
    
}

/* this is code copied from boostrap css for nav-toggler.  this edits the button slightly, and changes the color to black as opposed to transparent */
.navbar-toggler{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: black;;
    border: 1px solid black;;
    border-radius: .25rem;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-color:rgb(178, 178, 194);
}

/* ================================= 
  NEWS HTML SECTION
==================================== */

/* * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
} */

body{
  background-color: #fff;
  /* margin: 30px; */
}


img {
    border-radius: 64px;
}

p.menu  {
    text-align: right;
}

a {
     color: black;
     /* color: white; */
    /*color: blue; */
}

label{
  margin-top: 30px;
  display: block;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 2px;
}

input, textarea {
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #cdcfcf;
    margin-top:5px;
    padding: 20px;
    color: #333;
    background-color: #f6f8f8;
}

textarea {
    height: 200px;
}

button {
  background: #6388a4;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  padding: 15px 30px;
  cursor: pointer;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 15px;
}

.blogPage-title{
  text-transform: uppercase;
  letter-spacing: 2px;

}

#blogTitlePreview{
  font-family: serif;
  font-size: 40px
}

#blogContentPreview{
  line-height: 25px;
  color: #666;
  font-family: serif;
  font-size: 18px;
}

#flashMessage {
    color: white;
    background-color: #64ce83;
    padding: 15px;
    border-radius: 5px;
    display: block;
    width: calc(100% - 100px);
    margin-bottom: 40px;
}

.blogNewPost{
  float: left;
  width: 30%;
}

.blogPreviewArea{
  float: left;
  width: 40%;
  margin-top: -10px;
  margin-left: 100px;
  min-height: 400px;
}





/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
    .primary,
	.secondary {
		width: 50%;
    }
    .col {
		float: left;
	}
	
}
	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

@media (min-width: 1025px) {
	
        .container {
            width: 80%;
            max-width: 1150px;
        }
    
        .primary {
            width: 40%;
        }
    
        .secondary
        {
            width: 50%;
        }
    
    }

